mixin SignSidebar()
    .sign-sidebar
        .sign-sidebar__return
            a(href="index.html")
                i.far.fa-chevron-left
                | Вернуться к порталу
        .sign-slider-wrapper
            .sign-slider
                .item
                    .num 01.
                    p Присоединиться к порталу TRUECH быстро и удобно! Регистрируйся и получай новейшие знания от лучших спикеров.
                .item
                    .num 02.
                    p Стань частью крупного сообщества спикеров TRUECH. Регистрируйся и получай учеников бесплатно!
                .item
                    .num 03.
                    p Заходи в личный кабинет и получай знания прямо сейчас!
                .item
                    .num 04.
                    p Заходи в личный кабинет и получай знания прямо сейчас!