mixin AboutNumbers
    section#numbers.s-white.s-margins
        .container
            +AboutNumber("books", "2 150", "курсов")
            +AboutNumber("graduation-cap", "10 000", "и более студентов")
            +AboutNumber("briefcase", "500", "выпускаем востребованных специалистов ежемесячно")