// Scripts
include pug_plural.pug

// Components
include ../../blocks/components/input/input
include ../../blocks/components/card/card
include ../../blocks/components/feature/feature
include ../../blocks/components/review/review
include ../../blocks/components/about-number/about-number
include ../../blocks/components/breadcrumbs/breadcrumbs
include ../../blocks/components/filters/filters
include ../../blocks/components/pagination/pagination
include ../../blocks/components/advantage/advantage
include ../../blocks/components/rating/rating
include ../../blocks/components/duplicator/duplicator


// Modules
include ../../blocks/modules/header/header
include ../../blocks/modules/footer/footer
include ../../blocks/modules/promo-block/promo-block
include ../../blocks/modules/main-about/main-about
include ../../blocks/modules/features/features
include ../../blocks/modules/be-teacher/be-teacher
include ../../blocks/modules/partners/partners
include ../../blocks/modules/main-reviews/main-reviews

//Modules About page
include ../../blocks/modules/about-numbers/about-numbers
include ../../blocks/modules/about-spheres/about-spheres
include ../../blocks/modules/about-reviews/about-reviews

//Modules Contacts
include ../../blocks/modules/contacts-feedback/contacts-feedback
include ../../blocks/modules/contacts-main/contacts-main

//Course main
include ../../blocks/modules/course/course
include ../../blocks/modules/course-main/course-main
include ../../blocks/modules/course-parts/course-parts
include ../../blocks/modules/course-prices/course-prices

//Spaker
include ../../blocks/modules/speaker/speaker
include ../../blocks/modules/speaker-main/speaker-main

//School
include ../../blocks/modules/school/school

//Person
include ../../blocks/modules/person/person

//Reviews
include ../../blocks/modules/reviews/reviews

//Modals
include ../../blocks/modules/modals/modals



//Modules Sign
include ../../blocks/modules/sign-sidebar/sign-sidebar


