mixin Feature(title, descriptor)
    .feature
        h5=title
        if descriptor
            p=descriptor
        else
            p Здесь будет краткое, но емкое сформулированное описание того или иного преимущества портала над конкурентами
