mixin AboutReviews
    section#about-reviews.s-margins.s-white
        .container
            .row
                .col-3.col-xs-1.col-m-2
                    +Review(true, {avatar: "u1", title: "Дмитрий Дмитров"})
                .col-3.col-xs-1.col-m-2
                    +Review(true, {avatar: "u2", title: "Светлана Попова"})
                .col-3.col-xs-1.col-m-2
                    +Review(true, {avatar: "u3", title: "Сергей Сергеев"})