extends ../layouts/default


block variables
    - const title = "О проекте"

block content
    +Promoblock("about")
    +Features
    +AboutNumbers
    +MainAbout("about")
    +AboutShepres
    +AboutReviews



block scripts