extends ../layouts/cabinet


block variables
    - const title = "Мои курсы"

block content
    .cabinet__head
        h4 Мои курсы
        //.actions
        //    a(href="#").btn.btn--xs Soma Action

    h5 Нет курсов
    p.default-text Скорее всего, вы не прошли еще ни одного курса.<br/>Давайте найдем для вас подходящий!
    .btn.btn--light Выбрать курс
        i.fa.fa-chevron-right











block scripts