extends ../layouts/cabinet


block variables
    - const title = "Контактные данные"
    - var status = "teach"

block content
    .cabinet__head
        h4 Контактные данные
        //.actions
        //    a(href="#").btn.btn--xs Soma Action

    form
        +Input('text', 'cabinet_fio', '', 'Название школы')
        +Input('text', 'cabinet_title', '', 'Фамилия Имя Отчество контактного лица')
        +Input('phone', 'cabinet_phone', '', 'Телефон')
        +Input('text', 'cabinet_email', '', 'E-mail')
        button(type=submit).btn Сохранить изменения










block scripts