extends ../layouts/cabinet


block variables
    - const title = "Изменить пароль"

block content
    .cabinet__head
        h4 Изменить пароль
        //.actions
        //    a(href="#").btn.btn--xs Soma Action

    form
        +Input('text', 'cabinet_old-password', '', 'Введите старый пароль')
        +Input('phone', 'cabinet_new-password', '', 'Новый пароль')
        +Input('text', 'cabinet_repeat-password', '', 'Новый пароль еще раз')
        button(type=submit).btn Сохранить изменения










block scripts