extends ../layouts/default


block variables
    - const title = "Графический дизайнер с нуля до PRO. Классный курс!"

block content
    +Breadcrumbs(["Каталог", "Дизайн", "Графический дизайн", "От новичка до профи"])
    .page-cover(style="background-image: url(img/1.jpg)")

    .container
        +Course













block scripts