extends ../layouts/default


block variables
    - const title = "Каталог курсов"

block content
    +Breadcrumbs(["Каталог", "Дизайн"])
    .container#all-courses
        section#courses
            .section__head
                h4 Рекомендации
            .courses__carousel--wrapper.slider--nav-blue
                .courses__carousel
                    .item
                        +Card('promo', {
                            img: 'img/4.png',
                            title: 'Бухгалтерия для продвинутых',
                            rating: '9.9',
                            nums: "13"
                        })

                    .item
                        +Card('promo', {img: 'img/3.jpg', title: 'Управление проектами', rating: '9.2', nums: "21"})

                    .item
                        +Card('promo', {img: 'img/2.jpg', title: 'От новичка до профи', rating: '9.0', nums: "135"})

                    .item
                        +Card('promo', {img: 'img/1.jpg', title: 'Идеальный Landing Page', rating: '8.2', nums: "34"})
        section#categories.s-margins-32
            .section__head
                h4 Все курсы
                +Filters
            .row
                .col-4.col-xs-1.col-m-2
                    +Card('course', {doc: true, img: "1.jpg"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', { title: "Управление проектами", img: "2.jpg"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', {doc: true, img: "3.jpg", title: "От новичка до профи"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', { img: "4.png", title: "1С для профессионала"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', { title: "Управление проектами", img: "2.jpg"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', {doc: true, img: "1.jpg"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', {doc: true, img: "3.jpg", title: "От новичка до профи"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', { img: "4.png", title: "1С для профессионала"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', {doc: true, img: "1.jpg"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', { title: "Управление проектами", img: "2.jpg"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', {doc: true, img: "3.jpg", title: "От новичка до профи"})
                .col-4.col-xs-1.col-m-2
                    +Card('course', { img: "4.png", title: "1С для профессионала"})

            +Pagination






block scripts