extends ../layouts/sign

block variables
    - const title = "Дополнительно о себе"

block content
    .container
        .card.card--signin-up
            +SignSidebar

            .sign-content
                .sign-content__head
                    h4 Дополнительно о себе
                        span Шаг <i id="js-sign-step">1</i> из 3
                    p.description Укажите информацию о себе, чтобы мы смогли подобрать наиболее подходящие для вас курсы.




                .sign-content__area
                    form(data-step="1", type="POST", action="").w-430.form__stepper.form__stepper--active.js-sign-form
                        h5 Опыт работы
                        +Input('text', 'meeting__place-of-work', '', 'Место работы')
                        +Input('text', 'meeting__profession', '', 'Профессия')
                        +Input('radio', 'meeting__worktime', ["Менее 1 года", "от 1 до 3-х лет", "Более 3-х лет"], 'Опыт работы')

                        a(href="index.html").btn.btn--w210.btn--light Пропустить
                        button(type=submit).btn.btn--w210 Следующий шаг


                    form(data-step="2", type="POST", action="").w-430.form__stepper.js-sign-form
                        h5 Место учебы
                        +Input('text', 'meeting__place-of-work', '', 'Место учебы')
                        +Input('text', 'meeting__profession', '', 'Специальность')
                        +Input('select', 'meeting__worktime', ["Дизайн", "Преподавание", "Строительство"], 'Направление')

                        a(href="index.html").btn.btn--w210.btn--light Пропустить
                        button(type=submit).btn.btn--w210 Следующий шаг


                    form(data-step="3", type="POST", action="").w-430.form__stepper.js-sign-form
                        h5 Дополнительное образование
                        .duplicated
                            .duplicate-it
                                +Input('text', 'meeting__place-of-work', '', 'Место учебы')
                                +Input('text', 'meeting__profession', '', 'Название курса')
                            .duplicate-copies
                            +Duplicator

                        a(href="#sign-thanks", rel="modal:open").btn.btn--w210 Сохранить









block scripts