mixin ContactsMain
    .card-col.card-col-7#contacts-main
        h5 Контакты
        .contacts__grid
            .item
                span.title Адрес
                span.description г. Пермь,<br/>ул. Ленина 41, оф. 175
            .item
                span.title Часы работы
                span.description Будние дни<br/>с 10:00 до 19:00
            .item
                span.title Телефон
                span.description +7 (999) 888-77-66

        .contacts__map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3253e66cf39388c5763d9d6c66183abc1bba0a006be722991e0aed6033358c96&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>

