mixin MainAbout(type)
    section#about(class=type==="about" ? 's-about' : 's-white').s-margins
        .container
            .col-centered(class=type==="about" ? "col-10" : "col-8")
                .about__row
                    .about__text
                        if type !== "about"
                            span.overline12 О портале
                        .section__head.m0
                            h4 Миссия и цели

                        .section__content.default-text
                            if type === "about"
                                p Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития.
                                p Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации систем массового участия.
                                p Рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Таким образом укрепление и развитие структуры играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
                                p.authors Юлия и Марк Юрусовы<br/>Основатели портала «Курсор»
                            else
                                p.subarticle Рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития.
                                p.big-article Задача организации, обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития.

                                a(href="about.html").read-more Узнать подробнее
                                    i.far.fa-chevron-right

                    .about__cover
                        img(src="img/about.jpg")
