mixin BeTeacher
    section#beteacher.s-margins
        .container
            h4 Стань спикером Truech
            p.big-article Преподавайте то, что любите. <br/>
                | Получайте реальные отзывы от студентов

            a(href="#").btn Стать спикером
