mixin AboutShepres
    section#aboutspheres.s-margins
        .container
            .section__head.section__head--centered
                h4 Основные направления

            .row
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'layer-group', title: "Веб-дизайн", nums: 41})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'paint-brush', title: "Графический дизайн", nums: 22})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'swatchbook', title: "Инженерный дизайн", nums: 35})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'suitcase', title: "Бизнес", nums: 51})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'brain', title: "Искусственный интеллект", nums: 10})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'brackets-curly', title: "Программирование", nums: 32})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'globe-asia', title: "Китайский язык", nums: 65})
                .col-4.col-xs-1.col-m-2
                    +Card('categories', {icon: 'user', title: "Личное развитие", nums: 1})
            .centered--flex.mt-16
                a(href="#").btn.btn--w210.btn--centered Выбрать курс