mixin MainReviews(head)
    section#main-reviews.s-margins(class=head?"s-course":"s-white")
        .container
            .section__head.section__head--centered
                h4=head?head:"Отзывы"

            .slider-reviews__wrapper
                .item
                    .review
                        p Очень люблю учиться, но не всегда хватает времени ездить на учебу. Да еще и отдавая при этом каласальные деньги. Труч в этом плане помогает! Классно, что могу учиться онлайн у крутых спикеров.
                        
                    .author
                        .author__avatar
                            img(src="img/u1.jpg")
                        .author__content
                            .title Дмитров Дмитрий
                            .description Выпускник курса «Веб-дизайн: от новичка до профи»

                .item
                    .review
                        
                        p Очень люблю учиться, но не всегда хватает времени ездить на учебу. Да еще и отдавая при этом каласальные деньги. Труч в этом плане помогает! Классно, что могу учиться онлайн у крутых спикеров.
                        
                    .author
                        .author__avatar
                            img(src="img/u1.jpg")
                        .author__content
                            .title Дмитров Дмитрий
                            .description Выпускник курса «Веб-дизайн: от новичка до профи»

                .item
                    .review
                        
                        p Очень люблю учиться, но не всегда хватает времени ездить на учебу. Да еще и отдавая при этом каласальные деньги. Труч в этом плане помогает! Классно, что могу учиться онлайн у крутых спикеров.
                        
                    .author
                        .author__avatar
                            img(src="img/u1.jpg")
                        .author__content
                            .title Дмитров Дмитрий
                            .description Выпускник курса «Веб-дизайн: от новичка до профи»

                .item
                    .review
                        
                        p Очень люблю учиться, но не всегда хватает времени ездить на учебу. Да еще и отдавая при этом каласальные деньги. Труч в этом плане помогает! Классно, что могу учиться онлайн у крутых спикеров.
                        
                    .author
                        .author__avatar
                            img(src="img/u1.jpg")
                        .author__content
                            .title Дмитров Дмитрий
                            .description Выпускник курса «Веб-дизайн: от новичка до профи»



