mixin CourseParts
    .course__parts
        .part
            .title Часть 1. Базовый курс
            ul.modules
                li
                    span 01.

                    | Мой первый логотип. С чего начать?
                li
                    span 02.

                    | Логотип для салона красоты
                li
                    span 03.

                    | Обзор инструментов для графического дизайна
                li
                    span 04.

                    | Что такое айдентика
                li
                    span 05.

                    | Версии логотипа
                li
                    span 06.

                    | Цвета
                li
                    span 07.

                    | Типографика
                li
                    span 08.

                    | Стилеобразующие элементы

        .part
            .title Часть 2. Курс PRO
            ul.modules
                li
                    span 01.

                    | Стратегия работы с клиентом
                li
                    span 02.

                    | Брендинг
                li
                    span 03.

                    | Техническое задание
                li
                    span 04.

                    | Описываем характер бренда
                li
                    span 05.

                    | Логотип на 100 носителей
                li
                    span 06.

                    | Цвета и типографика PRO
                li
                    span 07.

                    | Фотостиль
                li
                    span 08.

                    | Стилеобразующие элементы
