mixin Pagination
    .pagination
        ul
            li
                a(href="#back")
                    i.far.fa-chevron-left

            ul
                li
                    a(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li.active
                    a(href="#") 4
                li
                    a(href="#") 5
                li
                    a(href="#") 6
                li
                    a(href="#") ...
                li
                    a(href="#") 46
                li
                    a(href="#") 47
                li
                    a(href="#") 48
                li
                    a(href="#") 49
                li
                    a(href="#") 50



            li
                a(href="#next")
                    i.far.fa-chevron-right
