mixin CourseMain
    .course__main-info
        .text-block
            h2 Графический дизайнер с нуля до PRO. Классный курс!
            p.big-article Станьте графическим дизайнером за 8 месяцев. Научитесь создавать логотипы и айдентику и начните работать с клиентами со всего мира. Станьте графическим дизайнером за 8 месяцев.
            p Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что сложившаяся структура организации способствует подготовки и реализации систем массового участия.

        .info
            .card.card--course-price
                .card__head
                    span.card__title Стоимость курса
                    .card__price
                        span.pre-price от
                        span.price 196 489
                        span.ruble ₽
                a(href="#course-prices").easing-scroll.btn Записаться на курс
            .advantages
                +Advantage("clock", "Срок", ["8 месяцев", "31 блок", "7 проектов"])
                +Advantage("star", "Рейтинг", "8.7 / 10")
                +Advantage("calendar", "Старт", "01 сентября 2019")
                +Advantage("user-graduate", "Школа", "Skillbox")
