mixin Footer
    footer
        .footer__top
            .container
                a(href="index.html").footer__col.footer__col--logo
                    img(src="img/logo-icon.svg")
                    .footer__descriptor
                        span.title TRUECH
                        span.description Рейтинг курсов рунета
                .footer__col.footer__col--normal
                    .footer__title Портал
                    a(href="index.html") Главная
                    a(href="about.html") О портале
                    a(href="reviews_list.html") Отзывы
                    a(href="contacts.html") Контакты

                .footer__col.footer__col--normal
                    .footer__title Обучение
                    a(href="courses_list.html") Курсы
                    a(href="speakers_list.html") Спикеры
                    a(href="schools_list.html") Школы
                    a(href="#") Процесс
                .footer__col.footer__col--normal
                    .footer__title Информация
                    a(href="#") Преимущества регистрации
                    a(href="#") Информация для спикеров
                    a(href="#") Оплата
                    a(href="#") Политика конфиденциальности
                .footer__col.footer__col--social
                    .footer__title Мы в соцсетях
                    .footer__social
                        a(href="#")
                            i.fab.fa-vk
                        a(href="#")
                            i.fab.fa-odnoklassniki
                        a(href="#")
                            i.fab.fa-facebook
                        a(href="#")
                            i.fab.fa-twitter
            .footer__bottom
                .container
                    .footer__copyright © ООО «Труч», 2019 г.
                    .footer__developer Разработка сайта
                        a(href="https://prostordesign.ru") prostor.design

